import discord
from discord.ext import commands
from discord import app_commands

TOKEN = "여기에 봇 토큰"

intents = discord.Intents.default()
intents.voice_states = True

bot = commands.Bot(command_prefix="!", intents=intents)

class Recruit(discord.ui.View):
    def __init__(self, channel, host):
        super().__init__(timeout=None)
        self.channel = channel
        self.host = host

    @discord.ui.button(label="참가하기", style=discord.ButtonStyle.green)
    async def join(self, interaction: discord.Interaction, button: discord.ui.Button):
        invite = await self.channel.create_invite(max_age=300)
        await interaction.response.send_message(invite.url, ephemeral=True)

    @discord.ui.button(label="모집종료", style=discord.ButtonStyle.red)
    async def close(self, interaction: discord.Interaction, button: discord.ui.Button):

        if interaction.user != self.host:
            await interaction.response.send_message("모집자만 종료할 수 있습니다.", ephemeral=True)
            return

        embed = interaction.message.embeds[0]
        embed.title = "🎮 PUBG 모집 종료"
        embed.color = 0xff0000

        for item in self.children:
            item.disabled = True

        await interaction.response.edit_message(embed=embed, view=self)

@bot.event
async def on_ready():
    try:
        synced = await bot.tree.sync()
        print(f"{len(synced)}개의 명령어 동기화 완료")
    except Exception as e:
        print(e)

    print("봇 준비 완료")

@bot.tree.command(name="구인", description="배그 구인")
@app_commands.describe(message="하고 싶은 말")
async def recruit(interaction: discord.Interaction, message: str):

    if not interaction.user.voice:
        await interaction.response.send_message("먼저 음성채널에 들어가 주세요.", ephemeral=True)
        return

    voice_channel = interaction.user.voice.channel
    member_count = len(voice_channel.members)

    embed = discord.Embed(
    title="🎮 PUBG 구인",
    description=f"👤 모집자 : {interaction.user.mention}\n🔊 채널 : {voice_channel.name}\n👥 현재 인원 : {member_count}명\n\n💬 {message}",
    color=0x00ff00
)

    view = Recruit(voice_channel, interaction.user)

    await interaction.response.send_message(embed=embed, view=view)

bot.run(TOKEN)
